{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<!-- Basic -->
		<meta charset="utf-8">
		<title>{% block title %}{% if title %}{{ title }} - {% endif %}{% endblock %}SeuDireito</title>
		<meta name="keywords" content="" />
		<meta name="description" content="">
		<meta name="author" content="Christian Douglas">
		<!-- Mobile Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Favicon -->
        <link rel="shortcut icon" href="{% static 'website/images/default/favicon.png' %}">
        {# STYLESHEETS #}
		{% include 'website/includes/style.html' %}
	</head>
<body>

<!-- Page Loader -->
<div id="pageloader">
	<div class="loader-inner">
		<img src="{% static 'website/images/default/preloader.gif' %}" alt="">
	</div>
</div><!-- Page Loader -->

<!-- Back to top -->
<a href="#0" class="cd-top">Top</a>

<!-- Header Begins -->
{% include 'website/includes/header.html' %}
{% block header %}{% endblock %}
<!-- Header Ends -->
<!-- Page Main -->
<div role="main" {% block class_main %}class="main"{% endblock %}>
    {% block main %}{% endblock main %}
</div>
<!-- Page Main -->

<!-- Footer -->
{% include 'website/includes/footer.html' %}
<!-- Footer -->

{# JAVASCRIPTS #}
{% include 'website/includes/javascript.html' %}
</body>
</html>