{% extends 'website/base.html' %}
{% load static i18n bootstrap3 %}
{% block header %}
    <div class="page-header sm">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <!-- Page Header Wrapper -->
                    <div class="page-header-wrapper">
                        <!-- Title & Sub Title -->
                        <h5 class="title">{{ quotation }}</h5>
                    </div><!-- Page Header Wrapper -->
                </div><!-- Coloumn -->
            </div><!-- Row -->
        </div><!-- Container -->
    </div>
{% endblock %}
{% block main %}
    <section class="bg-grey pad-tb-30">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <div class="blog-wrap">
                        <div class="blog-details">
                            <h5><a href="blog-single-left.html">{{ quotation }}</a>
                                <small style="display: block">{{ quotation.company }}</small>
                            </h5>
                            <ul class="blog-meta">
                                <li>
                                    <i class="fa fa-calendar-o"></i> {{ quotation.created_date|date:"SHORT_DATE_FORMAT" }}
                                </li>
                                <li><i class="fa fa-user"></i> {{ quotation.proposals.all.count }}</li>
                            </ul>
                            <p>{{ quotation.description }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 sidebar widgets-dark typo-light">
                    <div class="widget subscribe">
                        <h5 class="widget-title">{% trans 'Proposal' %}<span></span></h5>
                        <p class="form-message1" style="display: none;"></p>
                        <div class="clearfix"></div>
                        {% if not lawyer_proposal %}
                            <p>{% trans 'Please, report the value of your proposal' %}:</p>
                            <form class="input-group subscribe-form" method="post" action="{% url 'website:quotation' quotation.pk %}">
                                {% csrf_token %}
                                <div class="form-group has-feedback">
                                    <input required class="form-control" type="number" step="0.01" placeholder="{% trans 'Value' %} ex: 125.25" value="" name="proposal_value">
                                </div>
                                <span class="input-group-btn">
                                    <button class="btn btn-info" type="submit"><span class="glyphicon glyphicon-arrow-right"></span></button>
                                </span>
                            </form>
                        {% else %}
                            <p>{% trans 'Your proposal number is' %}: {{ lawyer_proposal }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}