{% load static %}
<!-- library -->
<script src="{% static 'website/js/lib/jquery.js' %}"></script>
<script src="{% static 'website/js/lib/bootstrap.min.js' %}"></script>
<script src="{% static 'website/js/lib/bootstrapValidator.min.js' %}"></script>
<script src="{% static 'website/js/lib/jquery.appear.js' %}"></script>
<script src="{% static 'website/js/lib/jquery.easing.min.js' %}"></script>
<script src="{% static 'website/js/lib/owl.carousel.min.js' %}"></script>
<script src="{% static 'website/js/lib/countdown.js' %}"></script>
<script src="{% static 'website/js/lib/counter.js' %}"></script>
<script src="{% static 'website/js/lib/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'website/js/lib/jquery.easypiechart.min.js' %}"></script>
<script src="{% static 'website/js/lib/jquery.mb.YTPlayer.min.js' %}"></script>
<script src="{% static 'website/js/lib/jquery.prettyPhoto.js' %}"></script>
<script src="{% static 'website/js/lib/jquery.stellar.min.js' %}"></script>
<script src="{% static 'website/js/lib/menu.js' %}"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
<!-- Revolution Js -->
<script src="{% static 'website/revolution/js/jquery.themepunch.tools.min.js' %}"></script>
<script src="{% static 'website/revolution/js/jquery.themepunch.revolution.min.js' %}"></script>
<script src="{% static 'website/js/lib/theme-rs.js' %}"></script>

<script src="{% static 'website/js/lib/modernizr.js' %}"></script>
<!-- Theme Base, Components and Settings -->
<script src="{% static 'website/js/theme.js' %}"></script>

<!-- Theme Custom -->
<script src="{% static 'website/js/custom.js' %}"></script>

{% if messages %}
    <script>
    {% for message in messages %}
    toastr.{{ message.tags }}("{{ message }}", "{{ message.tags }}", {
        "timeOut": "0",
        "extendedTImeout": "0",
        "closeButton": true,
        "newestOnTop": true
    });
    {% endfor %}
    </script>
{% endif %}
