{% load static i18n %}
<div class="rs-container light rev_slider_wrapper">
		<div id="revolutionSlider" class="slider rev_slider" data-plugin-revolution-slider data-plugin-options='{"delay": 9000, "gridwidth": 1170, "gridheight": 500}'>
			<ul>
				<li data-transition="fade" class="typo-dark heavy">
					<img src="{% static 'website/images/banner/services.jpg' %}"
						alt=""
						data-bgposition="center center"
						data-bgfit="cover"
						data-bgrepeat="no-repeat"
						class="rev-slidebg">

					<div class="tp-caption sm-text" style="color: white; font-weight: 300"
						data-x="right" data-hoffset="30"
						data-y="135"
						data-start="600"
						data-transform_in="y:[-300%];opacity:0;s:500;">{% blocktrans %}More than {{ total_lawyers }} independent professionals are available to work on what you need{% endblocktrans %}</div>

					<div class="tp-caption big-text" style="color: white; font-weight: 300"
						data-x="right" data-hoffset="30"
						data-y="center" data-voffset="-30"
						data-start="1500"
						data-whitespace="nowrap"
						data-transform_in="y:[100%];s:500;"
						data-transform_out="opacity:0;s:500;"
						data-mask_in="x:0px;y:0px;">{% trans 'Hire the best lawyers in the world' %}</div>

					<div class="tp-caption sm-text"
						data-x="right" data-hoffset="260"
						data-y="285"
						data-start="2000"
						data-transform_in="y:[100%];opacity:0;s:500;">
                        <a href="{% url 'company:create_account' %}" class="btn btn-success">{% trans 'Request a professional' %}</a></div>

					<div class="tp-caption sm-text"
						data-x="right" data-hoffset="30"
						data-y="285"
						data-start="2000"
						data-transform_in="y:[100%];opacity:0;s:500;">
                        <a href="{% url 'lawyer:create_account' %}" class="btn btn-primary">{% trans 'Create lawyer account' %}</a></div>
				</li>
			</ul>
		</div>
	</div>